//
@import "~bootstrap/scss/bootstrap.scss";

header,
footer {
    height: 10vh;
}
main {
    height: 80vh;
    overflow: scroll;
}

/* img {
    width: 200px;
    height: 200px;
} */

.my-card {
    position: relative;
    .my-card-body {
        position: absolute;
        display: none;
        /* z-index: 2; */
        background-color: black;
        color: white;
        height: 100%;
        width: 100%;
    }
    &:hover .my-card-body {
        display: block;
    }
}

.my-show-img {
    height: 380px;
    width: 380px;
}

.size-label {
    width: 300px;
}
